<table class="table table-bordered table-striped" style="width: 90%">
    <thead>
        <tr>
            <th>Candidate Name</th>
            <th>Trainer Name</th>
            <th>Type</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let test of testDetails">
            <td>{{test.candidateName}}</td>
            <td>{{test.trainerName}}</td>
            <td>{{test.testType}}</td>
            <td>{{test.dateOfTest}}</td>
            <td>
                <button class="btn btn-primary" *ngIf="!test.isCompleted" (click)="startTest(test._id)">Start</button>
                <a class="btn btn-primary" *ngIf="test.isCompleted" href="/detailpage/{{test._id}}">View</a>
            </td>
        </tr>
    </tbody>
</table>