/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:root {
    --primary-color: #49d4d4;
    --success-color: green;
    --primary-color-hover: #219999;
}

.navbar-color {
    background-color: var(--primary-color);
}

.navbar-brand {
    color: white !important;
}

.footer {
    background-color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.text-primary {
    color: var(--primary-color)!important;
}

.btn-primary:focus,
.btn-primary:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.side-bar-primary {
    background-color: var(--primary-color);
}