<nav class="navbar navbar-expand-lg navbar-light navbar-color">
    <div class="navbar-header">
        <img src="../assets/images/company_logo.png" class="company-logo">
    </div>
    <div class="navbar-header2">
        <a class="navbar-brand2" href="/dashboard">Computerised Driving Skill Analysis System</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <div class="mx-lg-3">
            <!--<span class="asText"><a class="btn btn-danger">Logout</a></span>-->
            <img src="../assets/images/logo.png" class="header-logo"/>
        </div>
    </div>
</nav>