<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="form-group" *ngFor="let control of jsonFormData?.controls">
    <label *ngIf="control.label !== ''">{{ control.label }}</label>
    <input matInput
      *ngIf="
        [
          'text',
          'password',
          'email',
          'number',
          'search',
          'tel',
          'url'
        ].includes(control.type)
      "
      [type]="control.type"
      [formControlName]="control.name"
      [value]="control.value" class="form-control"
/>
    <textarea matInput
      *ngIf="control.type === 'textarea'"
      [formControlName]="control.name"
      [value]="control.value" class="form-control" 
    ></textarea>
    <mat-checkbox
      *ngIf="control.type === 'checkbox'"
      [formControlName]="control.name"
      [checked]="control.value"  class="form-check-label"
    ></mat-checkbox>
    <mat-slide-toggle
      *ngIf="control.type === 'toggle'"
      [formControlName]="control.name"
      [checked]="control.value"
    ></mat-slide-toggle>
    <!--<mat-slider
      *ngIf="control.type === 'range'"
      [min]="control.optmats.min"
      [max]="control.optmats.max"
      [formControlName]="control.name"
    >
      <mat-icon
        size="small"
        slot="start"
      >{{control.optmats.icon}}</mat-icon>
      <mat-icon slot="end">{{control.optmats.icon}}</mat-icon>
    </mat-slider>-->
  </div>
  <button mat-button expand="full" type="submit">Submit</button>
</form>